<div class="ui inverted vertical footer segment">
  <div class="ui center aligned container">
    <div class="ui stackable inverted divided grid">
      <div class="eight wide column">
        <h4 class="ui inverted header">Referências</h4>
        <div class="ui inverted link list">
          <a href="/home/#/open-source" class="item">OpenSource</a>
          <a href="https://facebook.com/zueiraaFC" class="item">Facebook</a>
          <a href="#" class="item">Não gostou?</a>
          <a href="/home/#/fontes" class="item">Fontes Utilizadas</a>
        </div>
      </div>
      <div class="seven wide column">
        <h4 class="ui inverted header">Zueira Futebol Clube ®</h4>
        <p>Porque a zueira não pode acabar!</p>
      </div>
    </div>
    <div class="ui inverted section divider"></div>
    <img src="images/logo-big.png" class="ui centered tiny image">
    <div class="ui horizontal inverted small divided link list">
      <a class="item" href="#">Quem Somos?</a>
      <a class="item" href="#">Diga um Oi</a>
      <a class="item" href="#">Entre para o Time</a>
      <a class="item" href="/admin/#/approvals">Acesse os Vestiários</a>
    </div>
  </div>
</div>
