<!-- Template responsavel por criar panel do lado esquerdo -->

<div>
    <div class="ui segment">
      <div class="ui dimmer">
        <div class="content">
          <div class="center">
            <h2 class="ui inverted header">{{400 + 50}} pontos</h2>
          </div>
        </div>
      </div>
      <img class="ui small circular bordered centered image profile" src="images/avatars/matthew.png">
      <h3 class="ui header center aligned">@brunoocasali</h3>
      <div class="ui column grid">
        <div class="two column row">
          <div class="column">
            <div class="ui tiny header right aligned"><a href="#">{{400 + 856}}</a> seguindo</div>
          </div>
          <div class="column">
            <div class="ui tiny header left aligned"><a href="#">13k</a> seguidores</div>
          </div>
        </div>
      </div>
    </div>

    <div class="ui segment">
      <div class="ui header center aligned">Top Zuados!</div>
      <div class="ui relaxed divided list">
        <div class="item">
          <img class="ui mini image centered aligned" src="images/clubes/palmares.png">
          <div class="content">
            <a class="header">Palmeiras</a>
            <div class="description"><a><b>267</b></a> novas zueiras</div>
          </div>
        </div>
        <div class="item">
          <img class="ui mini image centered aligned" src="images/clubes/santos.png">
          <div class="content">
            <a class="header">Santos</a>
            <div class="description"><a><b>192</b></a> novas zueiras</div>
          </div>
        </div>
        <div class="item">
          <img class="ui mini image centered aligned" src="images/clubes/saopaulo.png">
          <div class="content">
            <a class="header">São Paulo</a>
            <div class="description"><a><b>124</b></a> novas zueiras</div>
          </div>
        </div>
      </div>
    </div>
</div>