<!--
<script type="text/javascript">
   bb_bid = "1697997";
   bb_lang = "en-US";
   bb_name = "custom";
   bb_limit = "6";
   bb_format = "bbn";
   bb_bbdo = "834";
</script>
<script type="text/javascript" src="https://static.boo-box.com/javascripts/embed.js"></script>
-->

<!-- SIDEBAR -->
<div class="ui segment">
  <div class="ui centered images">
    <img class="ui rounded image" src="http://place-hold.it/300x600.jpg&text=Anuncie%20Aqui!&fontsize=18">
    <div class="ui divider"></div>
    <img class="ui rounded image" src="images/banners/banner1.jpg">
  </div>
</div>
<!-- /SIDEBAR -->
