<div  class="ui borderless main menu">
  <div class="ui container">
    <a href="#" class="header item">
      <img class="logo" src="images/logo-min.png">
      Zueira FC
    </a>

    <div class="ui right menu text">
      <!-- Notifications Icon -->
      <div class="ui dropdown item">
        <i class="black large alarm icon"></i>
        <div class="app-floating right ui red circular mini label">2</div>

        <div class="menu">
          <div class="item">Mais uma zueira para o <a href="#">#palmares</a>...</div>
          <div class="item"><a href="#">@fulanodetal</a> seguiu você!</div>
        </div>
      </div>

      <!-- User place icon -->
      <div class="ui floating dropdown item">
        <img class="ui avatar image" src="images/matthew.png">
        <span><i class="black dropdown icon"></i></span>

        <div class="menu">
          <a class="item">Perfil</a>
          <a class="item">Configurações</a>
          <a href="#" class="item">
            <i class="sign out icon"></i>
            Sair
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
