<div  class="ui borderless main menu">
  <div class="ui container">
    <a href="#/" class="header item">
      <img class="logo" src="images/logo-min.png">
      Zueira F.C.
    </a>

    <div class="ui center aligned container text">
      <div class="justified content" style="padding-top: 15px;">
        Sou
        <div class="ui inline search dropdown">
          <input type="hidden" id="troller_id" />
          <div class="text">.............</div>
          <i class="dropdown icon"></i>

          <div class="menu">
            <!-- <div class="item" data-value="{{club.id}}" ng-repeat="club in clubs">
              {{club.short_name}}
            </div> -->

            <div class="item">corintiano</div>
            <div class="item">flamenguista</div>
            <div class="item">santista</div>
            <div class="item">colorado</div>
            <div class="item">gremista</div>
            <div class="item">palmeirense</div>
            <div class="item">são paulino</div>
          </div>
        </div>
        e quero zuar
        <div class="ui inline search dropdown">
          <input type="hidden" id="target_id" />
          <div class="text">.............</div>
          <i class="dropdown icon"></i>

          <div class="menu">
            <!-- <div class="item" data-value="{{club.id}}" ng-repeat="club in clubs">
              {{club.short_name}}
            </div> -->

            <div class="item">corintianos</div>
            <div class="item">flamenguistas</div>
            <div class="item">santistas</div>
            <div class="item">colorados</div>
            <div class="item">gremistas</div>
            <div class="item">palmeirenses</div>
            <div class="item">são paulinos</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  // fix main menu to page on passing
  $('.main.menu').visibility({
    type: 'fixed'
  });

  $('.overlay').visibility({
    type: 'fixed',
    offset: 80
  });

  $('.main.menu .ui.dropdown').dropdown({
    on: 'hover'
  });
</script>

