<div  class="ui borderless main menu">
  <div class="ui container">
    <a href="#/" class="header item">
      <img class="logo" src="images/logo-min.png">
      Zueira F.C.
    </a>

    <div class="ui center aligned container text">
      <div class="ui equal width center aligned padded grid">
        <div class="row">
          <div class="column">
            <span style="margin-right:10px">Sou</span>
            <select class="ui dropdown compact">
              <option value="">Eu sou...</option>
              <option value="1">Corinthians</option>
              <option value="0">São Paulo</option>
            </select>
            <span style="margin-left: 10px;margin-right:10px">e quero zuar</span>
            <select class="ui dropdown compact">
              <option value="">Esse freguês</option>
              <option value="1">Palmares</option>
              <option value="0">São Paulo</option>
            </select>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  // fix main menu to page on passing
  $('.main.menu').visibility({
    type: 'fixed'
  });

  $('.overlay').visibility({
    type: 'fixed',
    offset: 80
  });

  $('.main.menu .ui.dropdown').dropdown({
    on: 'hover'
  });
</script>
