<div class="ui middle aligned center aligned grid">
  <div class="column margin-top">
    <div class="ui message">
      <h2 class="ui header title-auth">
        Só falta o contrato!
  	  </h2>
    </div>

	  <form role="form" class="ui large form">
      <div class="ui stacked segment">
        <div class="field profile-image">
          <div class="ui small image">
            <div class="ui blurring dimmer">
              <div class="content">
                <a class="center" href="" title="Trocar Foto">
                  <i class="big icons">
                    <i class="photo inverted icon"></i>
                    <i class="corner inverted add icon"></i>
                  </i>
                </a>
              </div>
            </div>
            <img class="ui rounded image" src="/images/avatars/elyse.png">
          </div>
        </div>
        <div class="field">
          <div class="ui left icon input">
            <i class="mail icon"></i>
            <input type="text" name="email" placeholder="E-mail" ng-model="form.email" required="required">
          </div>
        </div>
        <div class="field">
          <div class="ui left icon input">
            <i class="lock icon"></i>
            <input type="password" name="password" placeholder="Senha" ng-model="form.password" required="required">
          </div>
        </div>

				<a ng-click="login()" class="ui fluid large dark-blue submit button">Login</a>
      </div>

			<div class="ui error message"></div>
		</form>

		<div class="ui message">
      Ah, você pode entrar com o <a ng-click="authenticate('facebook')" href="">facebook</a> ou <a href="#/registro"> criar uma conta</a> se for novato!
    </div>
  </div>
</div>
