<div class="ui middle aligned divided list" infinite-scroll="api.nextPage('pending')" infinite-scroll-distance='2'>
  <div class="ui segment">
    <h3 class="ui header center aligned">As zueiras mais recentes!</h3>
    <div class="ui divided items">
      <!-- REPEATER -->
      <div class="item" ng-repeat="post in api.items | filter:search:strict" ng-init="length = post.media.length">
        <div ng-if="length == 0" ng-include="'components/partials/home/_text.html'"></div>
        <div ng-if="length > 0" ng-include="'components/partials/home/_image.html'"></div>
      </div>
      <!-- / REPEATER -->

      <!-- LOADER -->
      <div class="item" ng-show='api.busy'>
        <div class="ui content">
          <img class="ui centered medium image" src="images/utils/john.gif">
          <!-- <div class="ui active centered inline loader"></div> -->
        </div>
      </div>
      <!-- / LOADER -->
    </div>
  </div>
</div>
