<!-- feed principal-->

<div>
    <div class="ui segment">
      <h3 class="ui header center aligned">Poste uma Zueira!</h3>
      <div class="ui form">
        <div class="field">
          <textarea rows="3" placeholder="Um ano se passou e o #palmares ainda não tem mundial!"></textarea>
        </div>
      </div>
      <button class="ui tiny dark-blue button" style="margin-top: 2px;" name="button">Enviar</button>
    </div>

    <!-- SLIDER COMPONENT IMAGE FRIENDS -->
    <!-- TODO: SLIDER. -->
    <div class="ui segment">
      <h3 class="ui header center aligned">Zoe seus Amigos!</h3>
      <div class="ui tiny sequenced images">
        <img style="" src="images/avatars/elyse.png" class="ui circular image">
        <img style="" src="images/avatars/christian.jpg" class="ui circular image">
        <img style="" src="images/avatars/stevie.jpg" class="ui circular image">
        <img style="" src="images/avatars/kristy.png" class="ui circular image">
        <img style="" src="images/avatars/tom.jpg" class="ui circular image">
        <img style="" src="images/avatars/nan.jpg" class="ui circular image">
      </div>
    </div>
    <!-- / SLIDER COMPONENT IMAGE FRIENDS -->

    <div class="ui segment">
      <h3 class="ui header center aligned">As zueiras mais recentes!</h3>

      <div class="ui divided items">

        <!-- ITEM (imagem sem título)-->
        <div class="item">
          <div class="content">
            <span class="ui sub header right floated grey"> 15 min. </span>
            <div class="description">
              <img class="ui fluid image" src="images/placeholders/mundial.jpg">
            </div>
            <div class="extra">
              <div class="ui mini basic buttons">
                <button class="ui button"><i class="share alternate icon"></i>8k</button>
                <button class="ui button"><i class="leaf icon green"></i> plantar</button>
              </div>
              <div class="right floated">
                <div class="ui column grid">
                  <div class="two column row">
                    <div class="column">
                      <img class="ui mini image circular" src="images/avatars/nan.jpg">
                    </div>
                    <div class="column">
                      <img class="ui mini image circular" src="images/clubes/palmares.png">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- / ITEM (imagem sem título)-->

        <!-- ITEM (vídeo com título 2) -->
        <div class="item">
          <div class="content">
            <a class="header">GOL DA ALEMANHA - ITAQUERA EDITION</a>
            <span class="ui sub header right floated grey"> 24 dez. </span>
            <div class="description">
              <div class="ui embed" data-icon="video" data-source="youtube" data-id="F2ezSmCb-M0"></div>
            </div>
            <div class="extra">
              <div class="ui mini basic buttons">
                <button class="ui button"><i class="share alternate icon"></i>452k</button>
                <button class="ui button"><i class="leaf icon green"></i> plantar</button>
              </div>
              <div class="right floated">
                <div class="ui column grid">
                  <div class="two column row">
                    <div class="column">
                      <img class="ui mini image circular" src="images/avatars/nan.jpg">
                    </div>
                    <div class="column">
                      <img class="ui mini image circular" src="images/clubes/corinthians.png">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- / ITEM (vídeo com título 2) -->

        <!-- ITEM (texto com título)-->
        <div class="item">
          <div class="content">
            <a class="header">Mundial do Palmeiras</a>
            <span class="ui sub header right floated grey"> 35 seg. </span>
            <div class="description">
              <p>E mais um ano se passou...</p>
              <p>E o <a href="#">#palmares</a> continua sem mundial!</p>
              <br />
            </div>
            <div class="extra">
              <div class="ui mini basic buttons">
                <button class="ui button"><i class="share alternate icon"></i>188</button>
                <button class="ui button"><i class="leaf icon green"></i> plantar</button>
              </div>
              <div class="right floated">
                <div class="ui column grid">
                  <div class="two column row">
                    <div class="column">
                      <img class="ui mini image circular" src="images/avatars/nan.jpg">
                    </div>
                    <div class="column">
                      <img class="ui mini image circular" src="images/clubes/palmares.png">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- / ITEM (texto com título)-->

        <!-- ITEM (gif com título) -->
        <div class="item">
          <div class="content">
            <a class="header">Gol do Timão</a>
            <span class="ui sub header right floated grey"> 25 dez. </span>
            <div class="description">
              <img class="ui fluid image" src="images/placeholders/timao-bambis.gif">
            </div>
            <div class="extra">
              <div class="ui mini basic buttons">
                <button class="ui button"><i class="share alternate icon"></i>8k</button>
                <button class="ui button"><i class="leaf icon green"></i> plantar</button>
              </div>
              <div class="right floated">
                <div class="ui column grid">
                  <div class="two column row">
                    <div class="column">
                      <img class="ui mini image circular" src="images/avatars/nan.jpg">
                    </div>
                    <div class="column">
                      <img class="ui mini image circular" src="images/clubes/saopaulo.png">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- / ITEM (gif com título) -->

        <!-- ITEM (texto sem título)-->
        <div class="item">
          <div class="content">
            <span class="ui sub header right floated grey"> 14 min. </span>
            <div class="description">
              <p>E mais um ano se passou...</p>
              <p>E o <a href="#">#palmares</a> continua sem mundial!</p>
              <br />
            </div>
            <div class="extra">
              <div class="ui mini basic buttons">
                <button class="ui button"><i class="share alternate icon"></i>2.1k</button>
                <button class="ui button"><i class="leaf icon green"></i> plantar</button>
              </div>
              <div class="right floated">
                <div class="ui column grid">
                  <div class="two column row">
                    <div class="column">
                      <img class="ui mini image circular" src="images/avatars/nan.jpg">
                    </div>
                    <div class="column">
                      <img class="ui mini image circular" src="images/clubes/palmares.png">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- / ITEM (texto sem título)-->

        <!-- ITEM (imagem com título)-->
        <div class="item">
          <div class="content">
            <a class="header">Mundial do Palmeiras</a>
            <span class="ui sub header right floated grey"> 39 min.</span>
            <div class="description">
              <img class="ui fluid image" src="images/placeholders/mundial2.jpg">
            </div>
            <div class="extra">
              <div class="ui mini basic buttons">
                <button class="ui button"><i class="share alternate icon"></i>13.9k</button>
                <button class="ui button"><i class="leaf icon green"></i> plantar</button>
              </div>
              <div class="right floated">
                <div class="ui column grid">
                  <div class="two column row">
                    <div class="column">
                      <img class="ui mini image circular" src="images/avatars/nan.jpg">
                    </div>
                    <div class="column">
                      <img class="ui mini image circular" src="images/clubes/palmares.png">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- / ITEM (imagem com título)-->

        <!-- ITEM (vídeo com título 1) -->
        <div class="item">
          <div class="content">
            <a class="header">BAILE DE ITAQUERA</a>
            <span class="ui sub header right floated grey"> ontem. </span>
            <div class="description">
              <div class="ui embed" data-icon="video" data-source="youtube" data-id="UVWG30S1-qQ"></div>
            </div>
            <div class="extra">
              <div class="ui mini basic buttons">
                <button class="ui button"><i class="share alternate icon"></i>134k</button>
                <button class="ui button"><i class="leaf icon green"></i> plantar</button>
              </div>
              <div class="right floated">
                <div class="ui column grid">
                  <div class="two column row">
                    <div class="column">
                      <img class="ui mini image circular" src="images/avatars/nan.jpg">
                    </div>
                    <div class="column">
                      <img class="ui mini image circular" src="images/clubes/corinthians.png">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- ITEM (vídeo com título 1) -->

        <!-- ITEM (gif sem título) -->
        <div class="item">
          <div class="content">
            <span class="ui sub header right floated grey"> 25 dez. </span>
            <div class="description">
              <img class="ui fluid image" src="images/placeholders/atletico-mg-palmares.gif">
            </div>
            <div class="extra">
              <div class="ui mini basic buttons">
                <button class="ui button"><i class="share alternate icon"></i>1k</button>
                <button class="ui button"><i class="leaf icon green"></i> plantar</button>
              </div>
              <div class="right floated">
                <div class="ui column grid">
                  <div class="two column row">
                    <div class="column">
                      <img class="ui mini image circular" src="images/avatars/nan.jpg">
                    </div>
                    <div class="column">
                      <img class="ui mini image circular" src="images/clubes/palmares.png">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- / ITEM (gif sem título) -->

        <!-- LOADER -->
        <div class="ui active centered inline loader"></div>
        <!-- LOADER -->
      </div>
    </div>
</div>

<script>
  $('.ui.embed').embed();
  $('.profile img').dimmer({ on: 'hover' });
  $('.items .image img').visibility({
    type       : 'image',
    transition : 'fade in',
    duration   : 1000
  });
</script>
