<style type="text/css">
	body > .grid {
		height: 100%;
	}
	.column {
		max-width: 450px;
	}
</style>

<script>
	$('.ui.dropdown').dropdown();
</script>

<div class="ui middle aligned center aligned grid">
  <div class="column">
    <h1 class="ui  header">
      Seja bem vindo ao time!
	  </h1>

	  <form role="form" class="ui large form">
      <div class="ui stacked segment">
        <div class="field">
          <div class="ui left icon input">
            <i class="mail icon"></i>
            <input type="text" name="email" placeholder="E-mail" ng-model="form.email" required="required">
          </div>
        </div>

        <div class="field">
          <div class="ui left icon input">
            <i class="lock icon"></i>
            <input type="password" name="password" placeholder="Senha" ng-model="form.password" required="required">
          </div>
        </div>

				<div class="field">
					<div class="ui left icon input">
						<i class="user icon"></i>
						<input type="text" name="username" placeholder="{{ form.email.split('@')[0] }}" ng-model="form.username" required="required">
					</div>
				</div>

				<div class="field">
					<div class="ui search selection labeled dropdown">
						<input type="hidden" id="club_id" />

						<i class="dropdown icon"></i>
					  <div class="default text">
							Para qual time você torce?
						</div>

					  <div class="menu">
					    <div class="item" data-value="{{club.id}}" ng-repeat="club in clubs">
								<img ng-src="{{ club.shield }}" class="ui mini image">
								{{club.short_name}}
							</div>
					  </div>
					</div>
				</div>

				<a ng-click="login()" class="ui fluid large dark-blue submit button">Criar</a>
      </div>

			<div class="ui error message"></div>
		</form>

		<div class="ui message">
      Pssst.. Já possui uma conta? <a href="#/login">Entre aqui!</a>
    </div>
  </div>
</div>
