<div class="content">
  <a class="header" ng-show="post.title">{{ post.title }}</a>

  <span class="ui sub header right floated grey"> {{ post.created_time | date: 'dd HH:mm' }}</span>
  <div class="description">
    <img class="ui fluid image" ng-src="{{medium.file}}" ng-repeat="medium in post.media">
  </div>
  <div class="extra">
    <div class="ui mini basic buttons">
      <button class="ui button"><i class="share alternate icon"></i>13.9k</button>
      <button class="ui button"><i class="leaf icon green"></i> plantar</button>
    </div>
  </div>
</div>
