<div class="content">
  <a class="header" ng-show="post.title">{{ post.title }}</a>
  <span class="ui sub header right floated grey"> 24 dez. </span>
  <div class="description">
    <!-- <div class="ui embed" data-icon="video" data-source="youtube" data-id="F2ezSmCb-M0"></div> -->
  </div>
  <div class="extra">
    <div class="ui mini basic buttons">
      <button class="ui button"><i class="share alternate icon"></i>452k</button>
      <button class="ui button"><i class="leaf icon green"></i> plantar</button>
    </div>
  </div>
</div>
