<h1 class="ui header">Mineração de Posts</h1>

<div class="ui padded segment">
  <div class="ui middle aligned divided list">
    <a class="item">
      <div class="right floated content">
        <div class="description">16/02 03:20</div>
      </div>
      <i class="ui avatar large facebook square fb-blue icon"></i>
      <div class="content">
        Lena
      </div>
    </a>
    <a class="item">
      <div class="right floated content">
        <div class="description">17/02 11:07</div>
      </div>
      <i class="ui avatar large facebook square fb-blue icon"></i>
      <div class="content">
        Lindsay
      </div>
    </a>
    <a class="item">
      <div class="right floated content">
        <div class="description">17/02 17:15</div>
      </div>
      <i class="ui avatar large facebook square fb-blue icon"></i>
      <div class="content">
        Mark
      </div>
    </a>
    <a class="item">
      <div class="right floated content">
        <div class="description">17/02 18:30</div>
      </div>
      <i class="ui avatar large facebook square fb-blue icon"></i>
      <div class="content">
        Molly
      </div>
    </a>
  </div>
</div>
