<h1>ESTATÍSTICAS</h1>

<div class="ui piled segment">
  <div class="ui huge four statistics">
    <div class="statistic">
      <div class="value">
        22.581
      </div>
      <div class="label">
      POSTS APROVADOS
      </div>
    </div>
    <div class="statistic">
      <div class="value">
        980
      </div>
      <div class="label">
        POSTS Pendentes
      </div>
    </div>
    <div class="statistic">
      <div class="value">
        <i class="database icon"></i> 32
      </div>
      <div class="label">
        SOURCES ATIVOS
      </div>
    </div>
    <div class="statistic">
      <div class="value">
        29/0
      </div>
      <div class="label">
        CLUBES/LIGAS
      </div>
    </div>
  </div>
</div>

<div class="ui piled segment">
  <div class="ui huge three statistics">
    <div class="statistic">
      <div class="value">
        <img src="https://zfc.s3.amazonaws.com/production/club/shield/15/2000px-S_C3_ADmbolo_da_Chapecoense_sem_estrelas.svg.png"
            class="ui inline image">
        2.410
      </div>
      <div class="label">
        MAIS ZUADO
      </div>
    </div>

    <div class="red statistic"  style="max-width: 365px;">
      <div class="text value">
        CORINTHIANS, <br>
        SÃO PAULO e GRÊMIO
      </div>
      <div class="label">
        POUCAS ZUEIRAS
      </div>
    </div>

      <div class="statistic" style="max-width: 365px;">
        <div class="text value">
          COMO É BOM SER COLORADO
        </div>
        <div class="label">
          MUITAS REPROVAÇÕES
        </div>
      </div>
    </div>
  </div>
</div>
