<div class="ui sub header">
  <h2>We are Open Source!</h3>
  holy shit!
</div>

<p style="font-size: 18px; margin-top: 1em">
  <img src="https://opensource.org/files/osi_keyhole_300X300_90ppi_0.png" class="ui centered image medium">
  O que é <b>Open Source?</b> Segundo a Wikipédia, o <b>Software de código aberto</b> (em português) é um software de computador com o seu código fonte disponibilizado e licenciado sob uma licença de código aberto no qual o direito autoral fornece o direito de estudar, modificar e distribuir o software de graça para qualquer um e para qualquer finalidade.
  <br />
  Mas porque o <b>Zueira Futebol Clube</b> é um projeto Open Source? Quando você expõe suas virtudes e fraquezas ao ambiente colaborativo é muito mais simples e rápido de crescer, do que se estivéssemos trancados em uma sala!
</p>
<p style="font-size: 18px;">
  Abaixo estão os links de onde você poderá consultar o código fonte!!
</p>

<div class="ui relaxed divided list"  style="font-size: 15px;">
  <div class="item">
    <i class="large github middle aligned icon"></i>
    <div class="content">
      <a class="header" href="https://github.com/zueirafc/api">zueirafc/api</a>
      <div class="description">Esta é a nossa API escrita em Ruby, usando o framework Ruby on Rails.</div>
    </div>
  </div>
  <div class="item">
    <i class="large github middle aligned icon"></i>
    <div class="content">
      <a class="header" href="https://github.com/zueirafc/client-app">zueirafc/client-app</a>
      <div class="description">É de onde vos escrevo! Escrito em Angular.js + Node.js + Express.js esse é o nosso 1° client app.</div>
    </div>
  </div>
  <div class="item">
    <i class="large github middle aligned icon"></i>
    <div class="content">
      <a class="header" href="https://github.com/zueirafc/documents">zueirafc/documents</a>
      <div class="description">Armazenamos aqui, toda documentação usada no projeto, tentamos mantê-la sempre atualizada!</div>
    </div>
  </div>
  <div class="item">
    <i class="large github middle aligned icon"></i>
    <div class="content">
      <a class="header" href="https://github.com/zueirafc/design-resources">zueirafc/design-resources</a>
      <div class="description">Aqui os designers piram! Tudo que criamos a respeito de design gráfico está lá!</div>
    </div>
  </div>
</div>
